@font-face {
  font-family: 'Arizona';
  src: url('/fonts/ABCArizonaSerif-Light-Trial.woff2') format('woff2');
}

:root {
  --bg: #f6f6f6;
  --serif: 'Arizona';
  --border: 1px solid black;
}

::-webkit-scrollbar {
  /* -webkit-appearance: none; */
  width: 5px;
  height: 5px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, rgba(204,204,204,1) 0%, rgba(0,0,0,1) 100%);
}

::selection {
  color: black;
  background: white;
}

* {
  transition: 200ms all;
}

@keyframes blend-in {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }

  to {
    opacity: 0.6;
    transform: translateX(0px);
  }
}
