@media print {
  @page {
    size: A4 portrait;
    margin: 20mm 10mm;
    /* marks: crop cross; */

    @top-right {
      content: 'rrrreflect';
      font-family: 'JetBrains Mono', monospace;
      font-size: 10px;
      text-transform: uppercase;
    }

    @top-left {
      content: string(author) ', ' string(title);
      font-family: 'JetBrains Mono', monospace;
      font-size: 10px;
      text-transform: uppercase;
    }

    @bottom-center {
      content: counter(page) ' of ' counter(pages);
      font-family: 'JetBrains Mono', monospace;
      font-size: 10px;
      text-transform: uppercase;
    }
  }
}

.grid {
  /* page-break-after: always; */
}

.meta.author {
  string-set: author content(text);
}

.meta.title {
  string-set: title content(text);
}

.block.image {
  height: fit-content;
  page-break-inside: avoid;
}

figure img {
  max-height: 600px;
}

footer {
  page-break-before: always;
}

/* #block-19 {
  page-break-inside: avoid;
} */

.deep-dreaming-willy-wonka-ai-weird-as-the-new-kitsch #block-35 {
  margin-bottom: 4em !important;
}

.generative-ai-decision-making-and-collaborative-choreography-how-lstm-networks-mirror-human-creativity #block-16 {
  margin-bottom: 7em !important;
}

.abolitionist-thinking-in-engineering-and-design #block-3 {
  margin-bottom: 7em !important;
}

.surface-aesthetics-the-secret-formula-of-prompting .references {
  margin-top: 6em !important;
}

.artificial-intelligence-and-the-arts-the-ai-robot-as-a-creative-co-bot .references {
  margin-top: 0 !important;
}

.artificial-intelligence-and-the-arts-the-ai-robot-as-a-creative-co-bot .footnotes-list {
  margin-bottom: 4em !important;
}

.from-post-truth-to-higher-truth .references {
  display: none !important;
}

.black-box-experiments-making-acquaintances-with-the-machinery .references {
  display: none !important;
}

.black-box-experiments-making-acquaintances-with-the-machinery #block-40 {
  margin-bottom: 9em !important;
}
